<footer class="footer">
  <small>
  	<a href="http://google.co.in/">Twitter App</a>
  	by Rakshit Joshi
  </small>
  <nav>
  	<ul>
  		<li><%= link_to "About", about_path %></li>
  		<li><%= link_to "Contact", contact_path %></li>
  		<li><a href="http://news.google.co.in/nwshp?hl=en&tab=wn">News</a></li>
  	</ul>
  </nav>
</footer>